.button {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  border: none;
  box-shadow: none;
}

.button--primary {
  background-color: #68B738;
  color: #FFFFFF;
}
