.contacts-social__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
  min-width: 49%;

  @media (min-width: @tablet-width) {
    min-width: 134px;
  }
}

.contacts-social__item {
  &:active {
    .opacity-strong;
  }
}

.contacts-social__item:last-child {
  margin-right: 0;
}

.contacts-social__link {
  display: block;
  min-width: 28px;
}

.contacts-social__icon {
  fill: #666666;
}


.contacts-social__link:hover .contacts-social__icon,
.contacts-social__link:focus .contacts-social__icon,
.contacts-social__link:focus {
  fill: @primary;
  outline-style: none;
}
