.contacts-social__list {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style-type: none;
  min-width: 136px;
}

.contacts-social__item {
  margin-right: 28px;

  &:active {
    .opacity-strong;
  }
}

.contacts-social__item:last-child {
  margin-right: 0;
}

.contacts-social__icon {
  fill: #666666;
}


.contacts-social__link:hover .contacts-social__icon,
.contacts-social__link:focus .contacts-social__icon,
.contacts-social__link:focus {
  fill: @primary;
  outline-style: none;
}
