.page-header__size-fix {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 17px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 35px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 53px;
    padding-bottom: 30px;
  }
}

.page-header__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.page-header__logo-icon {
  margin-right: 56px;
}

.page-header__logo-text {
  margin-top: 6px;
  margin-right: 65px;
}

.page-header__toggle {
  width: 24px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}
