.invite {
  background-color: #F2F2F2;
  color: #111111;

  &--main {
    background-color: #FFFFFF;
  }
}

.invite__title {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.invite__description {
  margin: 0;
  padding: 0;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
}
