.logo {
  &:hover {
    .opacity-light;
  }

  &:focus {
    border: none;
    outline: none;
    .opacity-light;
  }

  &:active {
    .opacity;
  }
}

.logo__icon {
  display: block;
  margin-right: 56px;

  @media (min-width: @tablet-width) {
    width: 174px;
    height: auto;
  }

  @media (min-width: @desktop-width) {
    width: 202px;
  }
}

.logo__text {
  margin-top: 6px;
  margin-right: 49px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}
