.logo {
  &:hover {
    .opacity-light;
  }

  &:focus {
    border: none;
    outline: none;
    .opacity-light;
  }

  &:active {
    .opacity;
  }
}

.logo__icon {
  display: block;

  @media (min-width: @tablet-width) {
    width: 174px;
    height: auto;
  }

  @media (min-width: @desktop-width) {
    width: 202px;
  }
}

.logo__text {
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: 50%;
  margin-top: -9px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}
