.site-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.site-list__item-link {
  color: #000000;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
