.additional__page-layout::before {
  top: 14px;

  @media (min-width: @tablet-width) {
    top: 22px;
  }
}

.additional__size-fix {
  margin-bottom: 36px;

  @media (min-width: @tablet-width) {
    margin-bottom: 54px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 61px;
  }
}

.additional__legend {
  margin-bottom: 32px;

  @media (min-width: @tablet-width) {
    margin-bottom: 57px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 59px;
  }
}

.additional__list {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    row-gap: 32px;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(auto-fit, 221px);
    column-gap: 104px;
    row-gap: 30px;
  }
}

.additional__item {
  margin-bottom: 12px;

  @media (min-width: @tablet-width) {
    padding: 5px 5px 5px 59px;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    padding: 3px 5px 5px 59px;
  }
}

.additional__item:last-child {
  margin: 0;
}

.additional__label {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.additional__mark {
  .control-mark;
  margin-right: 16px;
}

/* stylelint-disable */
.additional__input:checked+.additional__mark::before {
  /* stylelint-enable */
  .control-mark-before;
  width: 18px;
  height: 14px;
  background-image: url("../img/tale.svg");
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
}

.additional__description {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
