.cat-info {
  padding-bottom: 27px;

  @media (min-width: @tablet-width) {
    padding-bottom: 0;
    margin-bottom: 72px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
    margin-right: 80px;
  }
}

.cat-info__item {
  margin-bottom: 14px;

  @media (min-width: @tablet-width) {
    margin-bottom: 20px;
  }
}

.cat-info__item:last-child {
  margin-bottom: 0;
}

.cat-info__input {
  padding-top: 12px;
  padding-bottom: 13px;
  padding-left: 15px;
  margin-left: 13px;

  @media (min-width: @tablet-width) {
    padding-top: 9px;
    padding-bottom: 10px;
    padding-left: 18px;
    margin-left: 10px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
    margin-left: 13px;
  }
}
