.comments__size-fix {
  margin-bottom: 23px;

  @media (min-width: @tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 67px;
  }
}

.comments__legend {
  display: flex;
  flex-direction: column;
}

.comments__input {
  height: 150px;
  margin-top: 38px;
  box-sizing: border-box;
  appearance: none;

  @media (min-width: @tablet-width) {
    height: 174px;
    margin-top: 76px;
  }
}
