.programm-info {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: @tablet-width) {
    border: none;
  }
}

.programm-info__size-fix {
  .size-fix-form;

  @media (min-width: @tablet-width) {
    margin-bottom: 49px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    padding-right: 124px;
    margin: 0;
    width: auto;
  }
}

.programm-info__wrapper {
  padding: 22px 0 18px;
  position: relative;

  @media (min-width: @tablet-width) {
    padding: 24px 0 24px 28px;
    border: 1px solid #e7e7e7;
  }
}

.programm-info__item {
  margin-bottom: 13px;
}

.programm-info__item:last-child {
  margin-bottom: 0;
}

.programm-info__control {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  cursor: pointer;

  &:hover .programm-info__mark,
  &:focus .programm-info__mark,
  &:active .programm-info__mark {
    border: 1px solid #bababa;
    outline: none;
  }
}

.programm-info__descriprtion {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.programm-info__mark {
  .control-mark;
  border-radius: 50%;
  margin-right: 15px;

  @media (min-width: @tablet-width) {
    margin-right: 20px;
  }
}

.programm-info__input[disabled] ~ .programm-info__mark,
.programm-info__input[disabled] ~ .programm-info__descriprtion {
  opacity: 0.3;
  background-color: #ff0000;
}

.programm-info__input:checked + .programm-info__mark::before {
  .control-mark-before;
  width: 14px;
  height: 14px;
  background-color: @primary;
  border-radius: 50%;

  @media (min-width: @tablet-width) {
    width: 18px;
    height: 18px;
  }
}
